body {
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.App {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background: #ffffff;
    border-radius: 5px;
    padding: 10px;
    width: 500px;
    height: 300px;
    margin-top: 25%;
}
  
.title{
    padding: 30px; 
    font-size: 26px;
    font-weight: 600;
    color: #3e7ea3
}

.input-password {
    width: 312px;
    height: 20px;
    border: 1px solid #949996;
    border-radius: 5px;
}

.strength-1,
.strength-0s{
    background: #ffffff;
    border-radius: 5px;
    padding: 10px;
    color: #ed1f26;
    display: flex;
    font-size: 20px;
    font-weight: 500;
    margin-top: 5px;
}

.strength-2 {
    background: #ffffff;
    border-radius: 5px;
    padding: 10px;
    color: #ed1f26;
    display: flex;
    font-size: 20px;
    font-weight: 500;
    margin-top: 5px;
}

.strength-3 {
    background: #ffffff;
    border-radius: 5px;
    padding: 10px;
    color: #e6d410;
    display: flex;
    font-size: 20px;
    font-weight: 500;
    margin-top: 5px;
}

.strength-4 {
    background: #ffffff;
    border-radius: 5px;
    padding: 10px;
    color: #17e605;
    display: flex;
    font-size: 20px;
    font-weight: 500;
    margin-top: 5px;
}

.feedback{
    display: inherit !important;
}

.block-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 312px;
    justify-content: space-around;
    margin-top: 10px;
}

.block-normal {
    background-color: #949996;
    width: 100px;
    height: 10px;
    border-radius: 5px;
}

.block-small {
    background-color: #ed1f26;
    width: 100px;
    height: 10px;
    border-radius: 5px;
}

.block-medium {
    background-color: #e6d410;
    width: 100px;
    height: 10px;
    border-radius: 5px;
}

.block-strong {
    background-color: #17e605;
    width: 100px;
    height: 10px;
    border-radius: 5px;
}
